<!-- Footer -->
<footer class="page-footer bg-light pt-4 mt-2">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
        <hr />
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">More about us</h5>
          <p>It's not our goals that unite us, but the things we do to achieve them. Because although our training grounds and end goals might be different, sweat is our sport. And we're a team of individuals who know that to go further, we go together.</p> 
        </div>
        <hr class="w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">General</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">About us</a>
            </li>
            <li>
              <a href="#!">Careers</a>
            </li>
            <li>
              <a href="#!">FAQ</a>
            </li>
            <li>
              <a href="#!">Delivery & returns</a>
            </li>
          </ul> 
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">For you</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">My account</a>
            </li>
            <li>
              <a href="#!">Register</a>
            </li>
            <li>
              <a href="#!">Blog</a>
            </li>
            <li>
              <a href="#!">Email signup</a>
            </li>
          </ul> 
        </div>
      </div>
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2023 Copyright
   </div>
  </footer>
